@import 'template';

.navigation {
  display: flex;
  color: $white;

  border-bottom: 1px solid $grey-dark;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $black-opaque;

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 944px;

    @include for-size(tablet-landscape-down) {
      width: 100%;
    }

    li {
      a {
        color: $white;
        text-decoration: none;
        display: block;
        padding: 20px;
        width: 100%;

        @include for-size(tablet-landscape-down) {
          font-size: 14px;
          font-weight: bold;
        }

        &:hover {
          color: $grey;
        }
      }
      @include for-size(tablet-landscape-down) {
        &:first-child {
          display: none;
        }
      }
      &:last-child {
        margin-left: auto;
      }
    }
  }
}

.logo {
  color: $grey;
  font-weight: lighter;
}
