@import 'template';

.contact {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  fieldset {
    border: 0;
    padding: 0;
    margin: 10px 0;
    width: 100%;
  }

  textarea,
  input,
  button {
    @include form-control();
  }

  textarea,
  input {
    min-width: 400px;

    @include for-size(tablet-landscape-down) {
      min-width: initial;
      width: 100% !important;
    }
  }

  textarea {
    width: 60%;
    min-height: 150px;
  }

  button {
    margin: 0;

    @include for-size(tablet-landscape-down) {
      width: 100%;
    }
  }
}

.hidden {
  display: none;
}
