@import 'template';

.buy {
  margin-top: 40px;

  a {
    padding: 10px 20px;
    color: $background;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin: 0 10px;

    @include for-size(tablet-landscape-down) {
      display: block;
      padding: 20px;
      margin: 15px 0;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.6);
    }
  }
}

.buy-large {
  margin-top: 40px;

  a {
    color: $white;
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-left: 3px solid $grey;
    padding: 20px;

    &:hover {
      transition: border-width 0.2s ease;
      border-left: 10px solid $white;
    }

    h4 {
      margin: 0;
    }

    p {
      margin-bottom: 0;
    }
  }
}
