@import 'template';

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  height: calc(100% - 40px);

  @include for-size(tablet-landscape-down) {
    flex-direction: column-reverse;
    height: initial;
    margin: 40px auto;
  }

  img {
    max-width: 300px;
  }

  > * + * {
    margin-left: 40px;
  }
}

.content {
  margin: 0 20px;
  color: white;

  h1 {
    font-size: 72px;
    font-weight: lighter;
    margin-bottom: 0;
  }

  h2 {
    margin-top: 0;
    font-weight: lighter;
    color: rgb(173, 173, 173);
    margin-bottom: 40px;
  }

  p {
    font-weight: lighter;
    font-size: 18px;
    font-family: sans-serif;
  }

  blockquote {
    margin-left: 20px;
    color: rgb(173, 173, 173);
  }
}

.buy {
  margin-top: 40px;

  a {
    padding: 10px 20px;
    color: $colour-background;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin: 0 10px;

    @include for-size(tablet-landscape-down) {
      display: block;
      padding: 20px;
      margin: 15px 0;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.6);
    }
  }
}
