@import 'template';

.page {
  @include page-layout();
}

.content {
  @include content();

  @include for-size(tablet-landscape-down) {
    img {
      float: none !important;
      display: block;
      margin: 40px auto !important;
    }
  }

  @include markdown();

  &:last-child {
    padding-bottom: 100px;
  }
}
